.service {
  background-color: rgb(226, 241, 241);
  border-radius: 20px;
}
.service img {
  width: 100%;
}
.services-card {
  transition: all 0.5s ease-in-out;
}
.services-card:hover {
  box-shadow: 5px 10px 15px 20px grey;
  transform: scale(1.05);
}
.buy-now-btn {
  border-radius: 15px;
  padding: 5px 15px;
}
